###################
# Config file, please remove the # in front of the variable when you edit it: "#USERNAME" --> "USERNAME"
###################
USERNAME = <Username>
PASSWORD = <Plain text password>
##### create your own appkey at https://mega.co.nz/#sdk
APPKEY = <App key>
#### you can specify a mountpoint here, only absolute paths are supported.
MOUNTPOINT = /mega
#### path for the cached files; /tmp is the default, change it if your /tmp is small
CACHEPATH = /cache
